

<!-- <h1 class="contact">Under Construction</h1> -->

<!-- <div class="modal fade" id="contact" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> -->
   
    <div class="container">
		  <h1 class="main2">Contact Us</h1> 
		  <hr /><br />
      <div id="map-canvas"></div>
      <br />
      <br />
		  <p class="info"><span class="glyphicon glyphicon-earphone"></span>  Call us at (714) 364-7957</p>
		  <p class="info"><span class="glyphicon glyphicon-envelope"></span>  Eamil us at: oc_fitness@yahoo.com</p>
		  <p class="info"><span class="glyphicon glyphicon-home"></span>  1024 North Tustin Street Orange, CA 92867</p>
		 
    <br />
    <br />
    <br />
    <br />
    </div>


   

   <!--    </div>
    </div>
  </div>
</div>
 -->