

 <div id="top">
  <div class="row">
  <div class="col-md-3">
   <div class="image">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSQ0he6kWhX7tK1ZWuwPnfTtL3FRfVkb90oz1DFsmUIsLKkErtkCA">
   </div>
  </div>
  <div class="col-md-9">
   <br />
   <br />
   <h1 id="title">OC Fitness</h1>
  </div>
  </div>
  </div>
  <br />
  <div class="container-fluid">
   <p id="mission">"Training strategies and programs carefully designed according to the clients goals. Special attention is always given to training technique and intensity." <br />"I incorporate full body resistance training that emphasizes full range of motion."</p>
   <br />
  <div class="row">
   <div class="col-md-6">
    <h2>Pics of Pops</h2>
   </div>
   <div class="col-md-6">
    <h2>Pics of Erika</h2>
   </div>
  </div>
  <br />
  <div class="row">
   <div class="col-md-4">
    <h3>Services</h3>
   </div>
   <div class="col-md-4">
    <h3>Online Programs</h3>
   </div>
   <div class="col-md-4">
    <h3>Testimonials</h3>
   </div>
  </div>
  <br />
  <div class="row">
   <div class="col-md-6">
    <h3>Make an Appointment</h3>
   </div>
   <div class="col-md-6">
    <h3>Contact Us</h3>
   </div>
  </div>
</div>



<div class="footer">
 <div class="container">
  <p> The footer area</p>
 </div>
</div>
