<div class="container">
<div class="col-md-12">
<h2 class="main2">Online Programs</h2>
<br />
<br />
<p class="program">There are three online programs offered. Each program will be designed for your specific goals and lifestyle, according to the completed questionnaire and pictures submitted.</p>
<br />
</div>
<div class="row">
 <div class="col-md-4">
   <img class="big-square" src="http://www.chinesemedicineliving.com/blog/wp-content/uploads/2013/08/foodcircle1.jpg">
   <h3 class="contact">6 week Nutrition Program:</h3>
	<ul class="proj">
	  <li>Nutrition Program: <span style="font-weight: bold; color: green">$150</span></li>
	  <li>Follow up: <span style="font-weight: bold; color: green">$100</span></li>
	</ul>
</div>

 <div class="col-md-4">
   <img class="big-square" src="http://i.imgur.com/XDuNo9s.png">
   <h3 class="contact">Training Program</h3>
   <ul class="proj">
	  <li>Training Program: <span style="font-weight: bold; color: green"> $150</span></li>
	  <li>Follow up: <span style="font-weight: bold; color: green">$100</span></li>
    </ul>
 </div>

 <div class="col-md-4">
    <img class="big-square" src="http://www.theartfengshui.ch/uploads/3/0/4/3/3043026/4323643_orig.jpg?65">
	<h3 class="contact">Bridal Transformation</h3>
	<ul class="proj">
	  <li>Includes both Nutrition and Training programs</span></li>
	  <li>Bridal Program: <span style="font-weight: bold; color: green">$250</span></li>
	</ul>
 </div> 

 <br />
</div> 
<br />
 <p id="mission">Contact either James or Erika to get your nutrition program started right away!</p>
      <hr />
      <p class="info"><span class="glyphicon glyphicon-earphone"></span>  Call us at (714) 364-7957</p>
      <p class="info"><span class="glyphicon glyphicon-envelope"></span>  Eamil us at: oc_fitness@yahoo.com</p>
      <p class="info"><span class="glyphicon glyphicon-home"></span>  1024 North Tustin Street Orange, CA 92867</p>
 
 <br />
 <br />
 <br />
 <br />
 </div>
