<div class="container">
<h1 class="main2">Services</h1>
<br />
<ul class="ul">
  
    <img class="square" src="https://intuitturbotax.files.wordpress.com/2010/12/weight-loss-expenses-that-are-tax-deductable.jpg"> 
    <li class="program">Weight Loss/Body Transformations</li>
    <p class="p">No matter where you are starting out, will work together to get you where you want to be body wise.</p>
  <hr />
  
    <img class="square" src="http://www.rallytennis.com/wp-content/uploads/2014/05/sports-balls.png">
    <li class="program">Sports Specific Training</li>
    <p class="p">We have training techniques for athletes that will keep their agility and endurance up to speed as well as target other muscles that are not regularly used.</p>
  <hr />
  
    <img class="square" src="http://image.spreadshirtmedia.com/image-server/v1/designs/3837510,width=178,height=178/Bodybuilder-Silhouette.png">
    <li class="program">Advanced Training for Competitive Bodybuilding/Figure</li>
    <p class="p">Want to compete or in similar shape? We have experience and will be able to prep you so that you are ready for what you are preparing for.</p>
  <hr />
  
    <img class="square" src="http://onewithheart.com/media/nutrition.jpg">
    <li class="program">Nutrition Programs</li>
    <p class="p">Our nutrition programs are catered to you and what is capable of being accomplished.</p>
  <hr />
  
    <img class="square" src="http://media.merchantcircle.com/41118393/Unity%20Chiropractic%20Logo_full.jpeg">
    <li class="program">Specific Rehibilitation (knees, shoulders, hips, and back)</li>
    <p class="p">We will be able to help rehibilate you aches in your knees, shoulders, hips, and your back.</p>
  <hr />
  
    <img class="square" src="http://www.healthkinetics.org/wp-content/uploads/2011/07/corporate_wellness-guy-deadlif1.jpg">
    <li class="program">Corporate Wellness</li>
    <p class="p">We keep it a fun and inviting atmosphere with everyone that is here with us, and we can help you to do the same with your company!</p>
  <hr />

    <img class="square" src="http://www.computertutorinc.net/wp-content/uploads/2013/04/computer_maintenance.png">
    <li class="program">Online Training, Nutrition Programs, Bridal Transformation Programs</li>
    <p class="p">We have these three programs that are accomadated to your needs</p>
</ul>
  <br />
  <br />
  <br />
  <br />
    <p id="mission">Have questions regarding the services offered? Contact our trainers for further information!</p>
      <hr />
      <p class="info"><span class="glyphicon glyphicon-earphone"></span>  Call us at (714) 364-7957</p>
      <p class="info"><span class="glyphicon glyphicon-envelope"></span>  Eamil us at: oc_fitness@yahoo.com</p>
      <p class="info"><span class="glyphicon glyphicon-home"></span>  1024 North Tustin Street Orange, CA 92867</p>

<br />
<br />
<br />
<br />
</div>
