<div class="container">
<h1 class="main2">Testimonials</h1>
<br />

<div class="row">
 <div class="col-md-12">
   <img class="med-square" src="http://i.imgur.com/9NwA8UV.png">
   <img class="med-square" src="http://i.imgur.com/IxlWzTV.png">
   <img class="med-square" src="http://i.imgur.com/8qcvjzE.png">
   <img class="med-square" src="http://i.imgur.com/PcxTGiN.png">
   <img class="med-square" src="http://i.imgur.com/VGEqNk1.png">
 <br />
 <br />
 <br />
 <hr />
<p class="p">"I started  at OC Fitness in December 2007, I was looking to lose weight and gain muscle.  I had tried many times on my own and hadn't succeeded.  I was almost 300lbs and body fat of 30-40%, I am now 245 with body fat of 15%.  I have learned how to build muscle through proper weight training and nutrition.  If you want to be successful you need to follow the direction of someone that is successful.  At OC Fitness you will!"<br /><span style="font-weight: bold; margin-left: 55px;">~Steve Page</span></p><hr />
 </div>
<p class="p">"I started at OC Fitness almost 6 years ago, I had grained weight and was very weak due to chemotherapy and radiation.  I am now stronger and have tons of energy.  OC Fitness taught me that working out is fun!"<br /><span style="font-weight: bold; margin-left: 55px;">~Bee Gonzales</span></p><hr />

<p class="p">"I started at OC Fitness to increase my strength and speed for baseball.  My results have been beyond my expectations, I would recommend OC Fitness to every athlete!"<br /><span style="font-weight: bold; margin-left: 55px;">~Derrick Villalobos</span></p><hr/ >

<p class="p">"I started at OC Fitness in 2008 looking to increase my energy and overall health.  I have acccomplished my goals!  The trainers and staff members have become a second family."<br /><span style="font-weight: bold; margin-left: 55px;">~Pam Anderson</span></p><hr />

<p class="p">"I started at OC Fitness 5 years ago, I was looking to gain strength, size and drop bodyfat.  I have achieved my personal goals and am now striving to take it to the next level.  Thanks to the knowledge and experience of the trainers at OC Fitness I continue to improve in all aspects!"<br /><span style="font-weight: bold; margin-left: 55px;">~Todd Colburn</span></p><hr />

<p class="p">"I started at OC Fitness January 2009, I wasn't getting results from my current trainer and had difficulty with the range of motion with my shoulder.  My results have been amazing.  I love how I look and feel, and have so much energy and strength.  I always recommend OC Fitness!"<br /><span style="font-weight: bold; margin-left: 55px;">~Sher Palmer</span></p><hr/><br />

<h3 id="mission">Want to write a review or see reviews? Click <a href="http://www.yelp.com/biz/oc-fitness-orange">Yelp!</a> to go to the page of OC Fitness! </h3>

<br />
<br />
<hr />

<div class="row">
 <div class="col-md-12">
   <img class="med-square" src="http://i.imgur.com/ozlW4B6.png">
   <img class="med-square" src="http://i.imgur.com/eMctV80.png">
   <img class="med-square" src="http://i.imgur.com/92QnM4R.png">
   <img class="med-square" src="http://i.imgur.com/eMctV80.png">
   <img class="med-square" src="http://i.imgur.com/I8wCRg9.png">
<br />
<br />
<br />
<br />
<br />
 </div>

</div>



